/*BLOG*/


.blog {
  text-align: center;
  background-color: #ffffff;
  height: 1020px;
  padding-top: 125px;
}

.blog__wrapper {  
  padding: 0;
  margin: 0;  
}

.blog__title {
  position: relative;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 30px;
  padding: 0;
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: normal;
  font-size: 2.3469rem;
  line-height: 2.8163;
  text-transform: uppercase;
  color: #222222;
  vertical-align: text-top;
}

.blog__wrapper .blog__title::before {
  content: "b";
  position: absolute;
  top: -43px;
  left: 0;
  right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;    
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 247px;
  line-height: 210.64px;
  text-transform: uppercase;
  color: #222222; 
  opacity: 0.18;
}

.blog__description {  
  margin: 0 auto;
  padding: 0;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: normal;
  font-size: 1.9125rem;
  line-height: 2.3125;
  color: #222222;
  white-space: nowrap;
}

.blog__items{
  padding: 0;
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/*  BLOGSBLOCK COMPONENT  */


.blogsblock {  
  position: relative;
  width: 270px;
  margin: 0 15px;
  padding: 0;
  overflow: hidden;
  text-align: center;  
}

.blogsblock:first-child {
    margin-left: 0;
}

.blogsblock:last-child {
    margin-right: 0;
}

.blogssblock__text {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    height: 112px;
}

.blogsblock__title {  
  margin: 0;
  margin-bottom: 14px;
  margin-top: 42px;
  padding: 0;
  text-align: center;
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: normal;
  font-size: 1.1250rem;
  line-height: 2.25;
  text-transform: uppercase;
  color: #11749e;
  white-space: nowrap;
}

.blogsblock__description {  
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #222222;  
}

.blogsblock__title-link {
    text-decoration: none;
    color: #11749e;
    transition: all 500ms ease;
}

.blogsblock:hover .blogsblock__img {
    transform: scale(1.25);
    transition: all 500ms ease;
}

.blogsblock:hover .blogsblock__title {
    color: #222222;
    transform: scale(1.05);
    margin-bottom: 0px;
    margin-top: 56px;
    transition: all 500ms ease;
}